body {
    font-family: 'Oswald', sans-serif;
    background-color: #346beb;
    margin:25px;
    border:solid 5px;
    border-color: #2a266e;
    border-radius: 10px;
}

#picture {
  text-align: center;
}

h1 {
  margin: 10px;
  font-family: 'Staatliches', cursive;
}

#content {
  margin: 25px;
}
